/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- FONTS ---------- */

@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');
/* font-family: 'Sulphur Point', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
/* font-family: 'Anaheim', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Anaheim&family=Inter:wght@500&display=swap');
/* font-family: 'Inter', sans-serif; */

/* ---------- GENERAL ---------- */

body {
    background-color: #F5F5F5;
    font-family: 'Anaheim', sans-serif;
}

h1 {
    font-size: 50px;
    /* font-weight: bold; */
}

.font-sulphur-point {
    font-family: 'Sulphur Point', sans-serif;
}

.font-Anaheim {
    font-family: 'Anaheim', sans-serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* ---------- HEADER ---------- */

.header-logo {
    height: 56px;
}

.header-container {
    text-align: center;
    margin-top: 40px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    justify-content: space-around;
}

.ul-container {
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.contact-btn {
    background-color: #F8D32A;
    padding-left: 30px;
    padding-right: 30px;
    height: 64px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
}

.active-menu {
    
    padding: 10px;
    border-radius: 10px;
}

.link-text {
    text-decoration: none;
    color: #838383;
    margin-right: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.link-text:hover  {
    background-color: #FEFCE8;
}

.account-text-nav {
    color: #A79440;
}
/* ---------- MAIN ----------*/

.hero-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.hero-side {
    width: 40%;
}

.hero-img {
    width: 400px;
}

.hero-contact {
    display: flex;
    margin-top: 20px;
}

.hero-phone {
    border: solid #F8D32A 3px;
    border-radius: 10px;
    background-color: #F5F5F5;
    height: 64px;
    width: 64px;
    margin-left: 20px;
    margin-right: 20px;
}

.learn-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text-contact {
    font-weight: bold;
}

.hero-contact-container {
    justify-content: center;
}

.hero-title-home {
    margin-bottom: 20px;
}

.padding-botdefoin {
    /* padding-top: 50px; */
    padding-bottom: 50px;
}

.activite-zone {
    background-color: #F8D32A2E;  
}

.nos-activite-activite-zone {
    background-color: #F8D32A80;
    margin-left: 48rem;
    margin-right: 48rem;
    padding-top: 12px;
    padding-bottom: 1px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#a-contact-card {
    padding-left: 4rem;
    padding-right: 4rem;
}

.savoir-plus-activite-zone {
    padding-top: 5rem;
    padding-bottom: 5rem;

}
.hero-title-home {
    margin-bottom: 20px;
}

.hero-contact-container {
    text-decoration: none;
    color: black;
}

.nos-valeurs-container {
    background-color: #FAF3D5;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.price-font {
    background-color: #FFFFFFCC;
}

.nos-valeurs-container > p {
    width: 45%;
    margin-top: 20px;
}

.cards-container {
    margin-top: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.card-item {
    width: 360px;
    height: 257px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.text-card-top-activite{
   margin-top: 315px;
   
}

.card-item .card-title {
    font-weight: bold;
    font-size: 24px;
}
.text-card-top-activite-little {
    margin-top: 250px;
    font-size: x-large;
}

.card-img {
    width: 61px;
    height: 61px;
}

.card-item .card-content {
    margin-bottom: 35px;
    margin-top: 20px;
}

.card-link {
    text-decoration: underline;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}









/* ---------- FOOTER ----------*/

.footer-section {
    background-color: #FAF3D5 ;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-section img {
    width: 100px;
    height: 100px;
}

.text-contact {
    padding-bottom: 20px;
}

.flex-end {
    display: flex;
    justify-content: end;
}

footer {
    background-color: #F8D32A;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-footer-section {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    justify-content: space-around;
}

.footer-contact-title {
    font-weight: bold;
    font-size: 30px;
}

.footer-yellow-line {
    background-color: #F8D32A;
    width: 100px;
    height: 2px;
    margin-top: 10px;
}

.footer-line {
    background-color: white;
    width: 40px;
    height: 2px;
}

.footer-title {
    font-weight: bold;
    padding-bottom: 10px;
}

.footer-list li{
    padding-top: 20px;
}

.footer-rs {
    padding-right: 10px;
}

.footer-text-rs {
    padding-top: 20px;
    padding-bottom: 20px;
}

.copyright {
    background-color: #F8D32A;
    display: flex;
    align-items: center;
    justify-content: center;
}